{% extends "AppBlog/padre.html" %}

{% load static %}

{% block titulo %}

<h1>ACERCA DE MI</h1>

{% endblock %}

{% block subtitulo %}

<span class="subheading">INFO SOBRE EL CREADOR</span>

{% endblock %}

{% block contenido %}
<h1>Fabricio Giardina</h1>

<li>Fecha de nacimiento: 22/01/1985</li>
<li>Edad: 38 años</li>
<li>2 hermosos hijos</li>
<li>Tecnico en PC</li>
<li>Tecnico en Microsoldadura</li>

<p>Espero que les guste este sitio</p>
<p>Muchas gracias por tu visita!!!</p>
<h1>{{ mensaje }}</h1>
{% endblock %}

